.jumbo-tron {
  background-image: url("../assets/images/NYtimes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: 'New Rocker', cursive;
  border-bottom: 3px black solid;
}

#NYtimes1 {
  margin-top: 10px;
}

body {
  font-family: 'Roboto Slab', serif;
}

#Parameters{
  margin-top: 15px;
  text-align: center;
}

.input-group-text {
  background-color: lightgray;
  font-family: 'Roboto Slab', serif;
  width: 180px;
  color: black;
  border-right: 2px black solid;
}

#submit,#clear {
  background-color: lightgray;
  font-family: 'Roboto Slab', serif;
  color: black;
  border: 0px;
  border-radius: 5px;
}

#submit:hover,#clear:hover {
  color:blue;
}


