.jumbo-tron {
  background-image: url("../assets/images/NYtimes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: 'New Rocker', cursive;
  border-bottom: 3px black solid;
}

#NYtimes1 {
  margin-top: 10px;
}

body {
  font-family: 'Roboto Slab', serif;
}

#Parameters{
  margin-top: 35px;
  margin-bottom: 40px;
  text-align: center;
}

.input-group-text {
  background-color: lightgray;
  font-family: 'Roboto Slab', serif;
  width: 180px;
  color: black;
  border-right: 2px black solid;
}

#buttons {
  float: right;
  flex-grow: 0;
  padding-left: 0;

}

#submit,#clear {
  background-color: lightgray;
  font-family: 'Roboto Slab', serif;
  color: black;
  border: 0px;
  border-radius: 5px;
  margin-right: 20px;
}

#submit:hover,#clear:hover {
  color:blue;
  box-shadow: 0 5px 5px black;
}

#topArticles {
  margin-top: 25px;
  text-align: center;
}


